.header {
  display: flex;
  align-items: center;
  background-color: #2f9e41;
  padding: 10px 20px;
}

.headerLogo {
  width: 100px;
  margin-right: 10px;
}

.headerTitle {
  font-family: 'logo';
  color: white;
  text-shadow: 2px 2px black;
}

@media screen and (max-width: 600px) {
  .header {
    padding: 10px 0;
    justify-content: center;
  }

  .headerLogo {
    width: 80px;
  }

  .headerTitle {
    font-size: 170%;
  }
}